.btn {
  background: orange;
  border: 1px solid #000;
  border-radius: 10px;
}
.wrap {
  width: 600px;
  max-width: 100%;
}
img {
  width: 300px;
  max-width: 100%;
  height: auto;
}
.small-padding {
  margin: 5px 0;
  display: block;
}
.td {
  font-size: 25px;
}
